
  body{
    margin:0px;
    text-align: center;

  }


  a{
    color:darkorange;
    text-decoration: none;

  }

  h1{
    font-size:45px;
    text-align: center;
    border-bottom:1px solid white;
    margin:0;
    padding:30px;
    font-family: Tahoma;
    }


  h3{
      text-align: center;
      font-size:15px;
      color:white;
      font-family:"fontello";
      font-family: Tahoma;

    }


  h4{
    text-align: left;
    font-size:18px;
    color:white;
    font-family:"fontello";
    font-family: Tahoma;

  }

  #grid ul{
    border-right:1px solid white;
    width:180px;
    margin:0;
    padding:30px;
    text-align: left;
    line-height: 2.2em;

  }

  #grid{
    display: grid;
    grid-template-columns: 240px 1fr;
  }

  #article{
    padding-left:5px;
    margin:10px;
  }

  #background{

    height:2000px;

    background-image: url('jp.jpeg');

    background-size: contain;

  }

  #select{color:white;}

  @media(max-width:800px){
    #grid{
      display: block;
    }

    #grid ul{
    border-right:none;
    }

    h1 {
      border-bottom:none;
    }
  }
